<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./stylcs/index.css">
  <link rel="stylesheet" href="./stylcs/login.css">
    <title>Reddit</title>
</head>
<body>
    <header>
        <div class="container">
          <a  class="logo"><img src="./imges/logo.png" alt="logo" /></a>
          <div class="search">
            <input type="text" placeholder="Search Reddit" />
          </div>
          <div class="controls">
            <a  class="login">Log In</a>
            <a  class="signup">Sign Up</a>
            <div class="settings">
              <div>
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="trending">
        <div class="container">
          <p class="label">Trending Today</p>
          <div class="trending-container">
            <div class="box">
              <img
                src="./imges/biden.jpg"
                alt=""
              />
              <div class="txt">
                <p class="title">Pakistan</p>
                <p class="content">
                  India says it accidentally fired missile into Pakistan
                </p>
              </div>
            </div>
            <div class="box">
              <img
               src="./imges/buten.jpeg"
                alt=""
              />
              <div class="txt">
                <p class="title">Pakistan</p>
                <p class="content">
                  India says it accidentally fired missile into Pakistan
                </p>
              </div>
            </div>
            <div class="box">
              <img
              src="./imges/shakira.jpg"
                alt=""
              />
              <div class="txt">
                <p class="title">Pakistan</p>
                <p class="content">
                  India says it accidentally fired missile into Pakistan
                </p>
              </div>
            </div>
            <div class="box">
              <img
              src="./imges/messi.jpeg"
                alt=""
              />
              <div class="txt">
                <p class="title">Pakistan</p>
                <p class="content">
                  India says it accidentally fired missile into Pakistan
                </p>
              </div>
            </div>
          </div>
        </div>
      
      </section>
      <main>
        <div class="container" style="display: flex; justify-content: space-between ;">
          <div class="post-container">
          </div>
          <div class="main-container">
            <section class="links">
              <a href="/" class="link">help</a>
              <a href="/" class="link">Reddit coins</a>
              <a href="/" class="link">Reddit premium</a>
              <a href="/" class="link">Communities</a>
              <a href="/" class="link">Rereddit</a>
              <a href="/" class="link">Topics</a>
              <a href="/" class="link">about</a>
              <a href="/" class="link">careers</a>
              <a href="/" class="link">press</a>
              <a href="/" class="link">advertise</a>
              <a href="/" class="link">blog</a>
              <a href="/" class="link">Terms</a>
              <a href="/" class="link">Content policy</a>
              <a href="/" class="link">Privacy policy</a>
              <a href="/" class="link">Mod policy</a>
            </section>
          </div>
        </div>
      </main>
      <div class="login-container">
        <div class="par">
          <div class="log-container">
            <span class="close">&times;</span>
              <span class="login-span">Log In</span>
              <p class="login-pargrph">By continuing, you agree are setting up a Reddit account and agree to our User Agreement and Privacy Policy.</p>
              <input type="text" placeholder="username" class="login-username input-form">
              <input type="text" placeholder="email" class="login-email input-form">
              <input type="password" name="" id="" placeholder="Password" class="login-password">
              <span>Forget your <a class="link" href="">username</a> or <a class="link" href="">password</a> ? </span>
              <button class="login-btn">Log In</button>
              <p>New to Reddit ? <button id='SignUpinSignin' type="button" style="background-color: white; border: none; color: #668EE0;">Sign Up</button>
              </p>
          </div>
      </div>
      </div>
      <div class="signup-container">
        <div class="par1">
          <div class="log-container1">
            <span class="close">&times;</span>
              <span class="login-span1">Sign Up</span>
              <p class="login-pargrph1">By continuing, you are setting up a Reddit account and agree to our User Agreement and Privacy Policy</p>
              <input type="text" placeholder="Email" class="sginup-email input-form">
              <input type="text" placeholder="username" class="sginup-username input-form">
              <input type="password" placeholder="password" class="sginup-password input-form">
              <button class="sginup-btn1">Sign Up</button>
              <p>Already a redditor? <button id='SignininSignUp' type="button" style="background-color: white; border: none; color: #668EE0;"> Log In</button>
              </p>
          </div>
        </div>
      </div>
      <script src="./javascript/script.js"></script>
      <script src='./javascript/dom.js'></script>
</body>
</html>